*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(/assets/bmws4.jpg);
    border-bottom-style: groove;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-color: rgba(245, 224, 186, 0.322);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav:after{
    content: "";
    background-color:rgba(245, 245, 245, 0.171);
    width: 66%;
    height: 1px;
    position: absolute;
    top: 10%;
    left: 14%;
}

ul{
    display: flex;
}
.nav__ul--enlaces li{
    display: flex;
    padding: 15px;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 650;
    color: whitesmoke;
    align-content: center;
}

.nav__ul--enlaces li:hover{
    transform: scale(1.1);
}

.nav__ul--icons li{
    display: flex;
    padding: 15px;
    padding-top: 25px;
    color: whitesmoke;
    align-content: center;
    justify-content: space-around;
}

.nav__ul--icons li:hover{
    transform: scale(1.1);
}

.nav__ul--icons > img{
    width: 50px;
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
}

.header__div{
    position: absolute;
    top: 80%;
    left: 5%;
    padding: 10px;
}
.header__div > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.header__div > h4{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 16.5px;
}
.header__div--button{
    width: 190px;
    padding: 10px;
    background-color: rgb(33, 89, 153);
    color: antiquewhite;
    border: none;
    border-radius: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.header__div--button:hover{
    transform: scale(1.05);
}

main{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    

}

.main__div1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main__div--title{
    display: flex;
    margin-left: 19%;
    padding-top: 150px;
    padding-bottom: 20px;
}

.main__div--title > h5{
    display: flex;
    align-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgba(148, 148, 148, 0.747);
}

.main__ul--types{
    display: flex;
    margin-left: none;
}

.main__ul--types > li{
    display: flex;
    padding: 15px;
    align-content: space-between;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 560;
    font-size: 14px;
    color: rgba(148, 148, 148, 0.747);

}

main li:hover{
    transform: scale(1.25);
    color: rgba(0, 0, 0, 0.637);
    border-bottom: 2px solid rgb(33, 89, 153);
}

.main__div--models{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 17%;
    width: 69%;
    justify-content:space-between
}

.main__div--models  img{
    width: 180px;
    height: 90px;
}

.main__div--models img:hover{
    transform: scale(1.5);
}

.main__div--models div{
    margin: 15px;
}

.main__div--models{
    font-family: Arial, Helvetica, sans-serif;
}

.main__div--models p{
    color: rgba(80, 77, 77, 0.726);
    font-size: 10.5px;
}

.main__div--models a{
    display: flex;
    font-size: 10.5px;
    color: black;
}

.main__div--models a:hover{
    color: rgba(80, 77, 77, 0.726);
}

.main__div2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 69%;
    align-content: center;
    align-items: start;
    justify-content: space-around;
    margin-left: 15%;   
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.main__div2 h2{
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main__div2 p{
    font-size: 12px;
    
}

.main__div2 img{
    width: 180px;
    height: 95px;

}

.main__div2 div{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    border: 1px solid rgba(128, 128, 128, 0.151);
    margin: 5px;
    padding: 14px;
}

.main__div2 a{
    font-size: 11px;
    color: black;
    font-weight: 600;
}

.main__div2 a:hover{
    color:  rgba(80, 77, 77, 0.726);
}

.main__div3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 69%;
    align-content: center;
    align-items: start;
    justify-content: space-around;
    margin-left: 15%;
    margin-top: 50px;   
    font-family: Arial, Helvetica, sans-serif;
}

.main__div3 div{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    border: 1px solid rgba(128, 128, 128, 0.151);
    margin: 5px;
    padding: 14px;
}

.main__div3 img{
    width: 400px;
    height: 200px;
}

.main__div3 h2{
    font-size: 24px;
    padding-top: 5px;
}

.main__div3 a{
    font-size: 11px;
    color: black;
    font-weight: 600;
    padding-top: 5px;
}

.main__div3 a:hover{
    color:  rgba(80, 77, 77, 0.726);
}

.main__div4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 69%;
    align-content: center;
    align-items: start;
    justify-content: space-between;
    justify-items: center;
    margin-left: 15%;   
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.main__div4 div{
    display: flex;
    width: 147px;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    background-color:  rgba(223, 223, 223, 0.377);
    margin-bottom: 50px;
    padding: 30px;
}

.main__div4 a{
    font-size: 11px;
    padding-top: 10px;
    color: rgba(150, 148, 148, 0.863);
}

footer{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer__div0{
    background-color: rgba(206, 197, 197, 0.671);
    height: 80vh;
    width: 100%;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: space-evenly;
}

.footer__div0 div{
    margin-top: 150px;
}

.footer__div0 ul{
    display: flex;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer__div0 h2{
    font-size: 18px;
}

.div0__ul a{
    font-size: 12px;
    color: rgb(138, 136, 136);
}

.div0__ul a:hover{
    color: rgba(138, 136, 136, 0.678);
}

.footer__div--1-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__div1{
    display: flex;
    font-size: 11px;
    padding-left: 10px;
    
}

.footer__div2{
    display: flex;
    justify-content: flex-end;
}

.footer__div2 li{
    padding: 5px;
}

.footer__ul--links{
    display: flex;
}

.footer__ul--links a{
    font-size: 10px;
}

